.main-page {
  margin: -8px;
  background-size: cover;
}

.section {
  display: grid;
  grid-template-columns: 20% [left] 80% [right];
  grid-template-rows: auto;
  grid-template-areas: "sidebar mainbar";
  margin: 0;

  &__left {
    min-height: 950px;
    padding: 10px;
    border-right: 2px solid #e8e8e8;
  }

  &__right {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% auto;

    &__body {
      padding: 10px;
    }
  }
}

li {
  display: block;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.section__right__head {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  padding: 10px;
  border-bottom: 2px solid #e8e8e8;

  .top-navbar {
    margin: 0 0 0 10px;
  }

  .bottom-navbar {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 10px;

    & ul {
      display: flex;
      margin: 0;
      padding: 0;

      & li {
        padding: 20px 10px 5px 0;
      }

      & a {
        padding: 0;
      }
    }
  }
}
